.btn_guest {
    background-color: #59E3EB;
}

.btn_guest:hover {
    background-color: #2EC9D1;
}

.btn_guest_two {
    background-color: #46A7D4;
}

.btn_guest_two:hover {
    background-color: #4289EB;
}


